.solution{
    background-color: #1F5EA0;
}

.solutions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.solutionContainer{
    text-align: center;
    margin: 10px auto;
    width: 250px;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 20px;
}