.member{
    border-radius: 20px;
    text-align: center;
    position: relative;
    width: 250px;
    height: 250px;

    margin-bottom: 20px;
}

.memberImg{
    height:100%;
    width:100%;
    border-radius: 20px;
}

.memberInfo{
    visibility: hidden;
}

.memberImg:hover + .memberInfo, .memberInfo:hover, 
.memberImg:active + .memberInfo, .memberInfo:active{
    visibility: visible;
    animation: fadeIn .5s;

    background-color: rgba(0, 0, 0, 0.404);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;  
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.socialMediaIcon{
    padding: 0 5px 3px 5px;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}